@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Macondo&family=MedievalSharp&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEE1C9;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

.modoOscuro {
    background-color: #000000;
}

/* // HEADER */

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    padding: 40px;
    background-image: url("../src/Header/HeaderClaro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 5px 5px #124527);
}

.encabezado nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.XD {
    background-color: transparent !important;
    padding: 0px !important;
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 1.5px pink);
    transition: 0.2s ease-in-out;
}

.XD:hover {
    filter: drop-shadow(0px -20px 0.01px pink) brightness(1.5);
}

.encabezado nav a {
    text-decoration: none;
}

.Links {
    color: #E5E590;
    padding: 3px 8px;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 0.01px #124527);
    transition: 0.2s ease-in-out;
    background-color: transparent;
    border: transparent;

}

.Links:hover {
    filter: drop-shadow(0px -15px 0.01px #E5E590);
    color: #124527;
}

.encabezado a img {
    width: 150px;
    height: 180px;
    transition: 0.6s ease-in-out;
}

.encabezado a img:hover {
    transform: scale(0.95);
    filter: drop-shadow(0px 0px 5px black);
}

/* ! MODO OSCURO HEADER */

.encabezadoO {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    padding: 40px;
    background-image: url("../src/Header/HeaderOscuro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.encabezadoO .Links {
    filter: drop-shadow(0px 3px 0.01px #247235) brightness(1.1);
    color: #E5E590;
}

.encabezadoO .Links:hover {
    filter: drop-shadow(0px -15px 0.01px #E5E590) brightness(1.1);
    color: #247235;
}

/* TODO CARROUSEL */

.carousel-item img {
    mask-image: linear-gradient();
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    height: 800px;
    object-fit: cover;
}

/* - MAIN */

main {
    overflow-x: hidden;
}

.IZQ {
    grid-area: item1;
}

.IZQ2 {
    grid-area: item4;
}

.CEN {
    grid-area: item2;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(1px 3px 5px #124527);
}

.CEN p {
    padding: 5px;
    line-height: 25px;
    color: #E5E590;
    animation: letras 10s ease-in-out infinite alternate;
}

@keyframes letras {
    from {
        filter: drop-shadow(0px 1px 0.1px #124527);
        color: #E5E590;
    }

    to {
        filter: drop-shadow(0px -10px 0.1px #E5E590);
        color: #124527;
    }
}

.DER {
    grid-area: item3;
}

.cuerpo {
    width: 75%;
    height: 380px;
    margin: 50px auto;
    display: grid;
    border-radius: 15px;
    grid-template-areas:
        "item1 item4 item3"
        "item2 item2 item3";
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.cuerpo div {
    filter: drop-shadow(4px 8px 5px #124527);
    padding: 5px 0px;
    border-radius: 15px;
    background-color: #247235;
    text-align: center;
}

.IZQ img,
.IZQ2 img {
    height: 150px;
    object-fit: contain;
    border-radius: 15px;
}

.DER img {
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

/* ! MODO OSCURO MAIN */

.CuerpoO div {
    background-color: #124527;
    filter: drop-shadow(4px 8px 5px #247235);
}

.CuerpoO .CEN {
    filter: drop-shadow(1px 3px 5px #247235);
}

.CuerpoO .CEN p {
    padding: 5px;
    line-height: 25px;
    color: #E5E590;
    animation: letrasO 10s ease-in-out infinite alternate;
}

@keyframes letrasO {
    from {
        filter: drop-shadow(0px 1px 0.1px #247235);
        color: #E5E590;
    }

    to {
        filter: drop-shadow(0px -10px 0.1px #E5E590);
        color: #247235;
    }
}

/* SECCIÓN FOOTER */

.píeDePágina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    padding: 40px;
    background-image: url("../src/Footer/Footer1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info img {
    height: 120px;
    width: 95px;
}

.info p {
    text-align: center;
    font-size: 15px;
    color: #E5E590;
    filter: drop-shadow(0px 3px 0.01px #124527);
}

.redes {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.redes iframe {
    border-radius: 15px;
    margin: auto;
}

.redes div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.redes div a img {
    height: 45px;
    width: 45px;
    transition: 0.3s ease-in-out;
}

.redes div a img:hover {
    filter: drop-shadow(3px 3px 4px black) invert();
    transform: scale(1.1);

}

.enlaces {
    width: 33%;
}

.enlaces a {
    text-decoration: none;
}

/* ° MODO OSCURO PÍE DE PÁGINA */

.PioO {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    padding: 40px;
    background-image: url("../src/Footer/Footer2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* TODO NOSOTROS */

.Foo-hah {
    display: flex;
    margin: 30px 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;

}

.catchphrase {
    transform: translateX(600px);
    font-size: 45px;
    color: #000000;
    display: flex;
    animation: FOO 5s infinite linear;
}

.catchphrase p {
    width: 200px;
}

.f2 {
    transform: translateX(1200px);
}

.catchphrase p::-webkit-scrollbar {
    display: none;
}

.sekke {
    background-color: #EEE1C9;
    width: 200px;
    transform: translateX(400px);
}

.sekke img {
    height: 300px;
}

.foohaO {
    background-color: #000000 !important;
    width: 200px;
    transform: translateX(400px);
}

.foohatextO {
    transform: translateX(600px);
    font-size: 45px;
    color: #E5E590;
    display: flex;
    animation: FOO 5s infinite linear;
}

@keyframes FOO {
    from {
        transform: translateX(600px);
    }

    to {
        transform: translateX(-800px);
    }
}

.accordion-collapse {
    display: flex;
    justify-content: space-between;
}

.accordion-body {
    width: 80%;
}

.accordion-collapse img {
    width: 20%;
    object-fit: cover;
}

.accordion-item {
    background-color: #247235;
    color: #E5E590;
}

.accordion-button {
    background-color: #124527;
    color: #E5E590;
}

/* ! SECCIÓN GALERÍA */

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.galeria {
    margin: 30px auto;
    margin-bottom: 120px;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-areas:
        "item1 item1 item5 item5"
        "item1 item1 item5 item5"
        "item4 item4 item2 item6";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 25px;
    padding: 5%;
}

.galeria img,
.galeria video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.galeria img:hover,
.galeria video:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
    filter: drop-shadow(15px 15px 20px #E5E590);
}

/* ? SECCIÓN PRODUCTOS */

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    gap: 40px;
}

.Tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
    width: 300px;
    height: 900px;
    background-image: url("../src/Productos/TarjetaClaro.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #124527;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    filter: drop-shadow(0px 0px 3px black);
    text-align: center;
}

.Tarjeta h1 {
    font-size: 35px;
    width: 95%;
    height: 100px;
}

.Tarjeta:hover {
    filter: drop-shadow(0px 0px 15px black) brightness(1.1);
    transform: scale(1.02);
}

.Tarjeta img {
    width: 80%;
}

.Tarjeta p {
    color: #247235;
    margin-bottom: 200px;
}

.Tarjeta-footer {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.Tarjeta-footer button {
    background-color: transparent;
    border: transparent;
    color: #124527;
    font-weight: bold;
}

.CoranzonDeLosHuevos {
    padding-right: 25px;
    transform: scale(1.6);
    transition: 0.3s ease-in-out;
}

.CoranzonDeLosHuevos:hover {
    transform: scale(1.8) translateY(-5px);
    filter: invert() drop-shadow(7px -7px 1px red);
}

.Agregar-Carro {
    transition: 0.3s ease-in-out;

}

.Agregar-Carro:hover {
    filter: drop-shadow(0px -20px 0.01px #247235);
    color: #E5E590;
}

.sistemaFiltrado {
    display: grid;
    width: 100%;
    margin: 25px auto;
    grid-template-areas:
        "item1 item1 item2 item2";
    grid-template-columns: repeat(4, 1fr);
    padding: 5%;
    gap: 90px;
}

.filtradoNombre {
    grid-area: item1;
    background-image: url(../src/Footer/Footer1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #124527;
    border-right: 5px solid #124527;
    border-radius: 15px;
    gap: 40px;
    color: #E5E590;
    filter: drop-shadow(0px 10px 10px #124527);
    transition: 0.3s ease-in-out;
}

.filtradoNombre label {
    filter: drop-shadow(0px 4px 0.01px #124527);
}

.filtradoNombre input {
    background-color: #EEE1C9;
    border: transparent;
    border-radius: 15px;
    filter: drop-shadow(0px 5px 5px #124527);
    transition: 0.3s ease-in-out;
    text-align: center;
}

.filtradoNombre input:hover {
    transform: scale(1.01);
    filter: drop-shadow(0px 10px 3px #124527);
}

.filtradoNombre:hover {
    transform: scale(1.01);
    filter: drop-shadow(0px 15px 10px #124527);
}

.FiltradoLogo {
    grid-area: item2;
    background-image: url(../src/Footer/Footer1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #124527;
    border-right: 5px solid #124527;
    border-radius: 15px;
    gap: 10px;
    color: #E5E590;
    filter: drop-shadow(0px 10px 10px #124527);
    transition: 0.3s ease-in-out;

}

.botonesFiltrado,
.botonesFiltrado1,
.botonesFiltrado2,
.botonesFiltrado3 {
    background-color: transparent;
    border: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    width: 110px;
    filter: drop-shadow(0px 0px 5px black);
    object-fit: cover;
    transition: 0.1s ease-in-out;
}


.botonesFiltrado:hover,
.botonesFiltrado1:hover,
.botonesFiltrado2:hover,
.botonesFiltrado3:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px #E5E590);
}

/* ! MODO OSCURO PRODUCTOS */

.sistemaFiltradoO .filtradoNombre {
    grid-area: item1;
    background-image: url(../src/Footer/Footer2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #247235;
    border-right: 5px solid #247235;
    border-radius: 15px;
    gap: 40px;
    color: #E5E590;
    filter: drop-shadow(0px 10px 10px #124527);
    transition: 0.3s ease-in-out;
}

.sistemaFiltradoO .FiltradoLogo {
    grid-area: item2;
    background-image: url(../src/Footer/Footer2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #247235;
    border-right: 5px solid #247235;
    border-radius: 15px;
    gap: 10px;
    color: #E5E590;
    filter: drop-shadow(0px 10px 10px #124527);
    transition: 0.3s ease-in-out;
}

.sistemaFiltradoO .FiltradoLogo .botonesFiltrado1 {
    background-image: url(../src/Productos/BotonRopaO.png) !important;
}

.sistemaFiltradoO .FiltradoLogo .botonesFiltrado2 {
    background-image: url(../src/Productos/BotonFKO.png) !important;
}

.sistemaFiltradoO .FiltradoLogo .botonesFiltrado3 {
    background-image: url(../src/Productos/BotonLibroO.png) !important;
}

.TarjetaO {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
    width: 300px;
    height: 900px;
    background-image: url("../src/Productos/TarjetaOscuro.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #E5E590;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    filter: drop-shadow(0px 0px 3px #E5E590);
    text-align: center;
}

.TarjetaO:hover {
    filter: drop-shadow(0px 0px 15px #E5E590);
}

/* TODO SECCIÓN CONTACTOS */

.contenedor_formulario {
    background-color: #247235;
    border-radius: 15px;
    display: flex;
    height: 500px;
    width: 800px;
    margin: 50px auto;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.contenedor_formulario:hover {
    transform: scale(1.015);

}



.contenedor_formulario img {
    width: 50%;
    border-radius: 15px 0px 0px 15px;
    border-right: 10px solid #EEE1C9;
}

.contenedor_formulario form {
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.contenedor_formulario input,
.contenedor_formulario textarea {
    background-color: #124527;
    border: transparent;
    padding: 5px;
    border-radius: 15px;
    color: #E5E590;
}

/* - ULTIMO GRAN ENEMIGO (LA COSA PARA SUBIR) */

.SubirArriba {
    position: fixed;
    background-color: transparent;
    bottom: 10px;
    right: 10px;
    border: transparent;
}

.SubirArriba img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    
}

.SubirArriba img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 5px #E5E590);
}